<div class="flex flex-col gap-y-3 sm:flex-row sm:items-center sm:justify-end">
    <nav>
        <ul class="flex gap-x-3 font-medium text-white-200">
            <li class="hover:text-white"><a
                    class="py-2 px-4 px-4 py-1 text-sm text-gray-100 font-semibold rounded-full border border-gray-200 hover:text-white hover:bg-cyan-500 hover:border-transparent focus:outline-none focus:ring-2 focus:ring-white-600 focus:ring-offset-2"
                    target="_blank"
                    href="https://drive.google.com/file/d/1_rE0UTg9BPu6rnoao5j-6BAo9-KqF0-e/view?usp=sharing">Meu CV</a>
            </li>
        </ul>
    </nav>
</div>