<div class="flex flex-1 justify-center md:justify-center">
    <nav class="pointer-events-auto md:block">
        <ul
            class="flex rounded-full bg-white/90 px-3 text-sm font-medium text-slate-800 shadow-lg shadow-slate-800/5 ring-1 ring-slate-900/5 backdrop-blur dark:bg-slate-800/90 dark:text-slate-200 dark:ring-white/10">
            <!-- <li><a class="relative block px-3 py-2 transition hover:text-cyan-500 dark:hover:text-cyan-400 hover:underline hover:translate-y-0.5"
                    routerLink="/">Sobre</a>
            </li> -->
            <!-- <li><a class="relative block px-3 py-2 transition hover:text-cyan-500 dark:hover:text-cyan-400 hover:underline hover:translate-y-0.5"
                                                href="/projects">Projetos</a></li> -->
            <li><a class="relative block px-3 py-2 transition hover:text-cyan-500 dark:hover:text-cyan-400 hover:underline hover:translate-y-0.5"
                    target="_blank"
                    href="https://drive.google.com/file/d/1_rE0UTg9BPu6rnoao5j-6BAo9-KqF0-e/view?usp=sharing">Meu CV</a>
            </li>
        </ul>
    </nav>
</div>