<body class="bg-slate-900 text-gray-100">
    <header class="mx-auto max-w-screen-lg px-3 py-6">
        <app-topbar></app-topbar>
    </header>
    <main class="px-3" style="min-height: calc(100vh - 25vh);">
        <div class="mx-auto max-w-screen-lg py-6">
            <div class="mx-auto max-w-screen-lg py-6 ">
                <router-outlet></router-outlet>
            </div>
        </div>
    </main>
 
    <footer class="mx-auto max-w-screen-lg px-3 py-6 ">
        <app-footer></app-footer>
    </footer>
</body>
    