<div class="flex flex-col items-center md:flex-row md:justify-between md:gap-x-24">
    <div>
        <h1 class="text-2xl font-bold">Olá, meu nome é <span
                class="bg-gradient-to-br from-sky-500 to-cyan-400 bg-clip-text text-transparent">Isaac</span> 👋</h1>
        <p class="mt-6 text-xl leading-9">📫 &nbsp;Conecte-se comigo no <a
                href="https://www.linkedin.com/in/isaac-moura-de-oliveira-60737913a/"><span
                    class="text-cyan-400 hover:underline hover:translate-y-0.5 hover:text-cyan-400 hover:cursor-pointer hover:underline">Linkedin</span></a>
        </p>
    </div>
</div>
<div class="mx-auto max-w-screen-lg px-3 py-10">

    <div class="flex flex-col rounded-lg bg-gray dark:bg-gray-800 md:flex-row justify-between mx-auto">
        <div class="flex flex-col p-6 w-full">
            <h5 class="mb-2 text-xl font-medium text-neutral-800 dark:text-neutral-50">
                Front-end
            </h5>
            Linguagens
            <div class="mb-1 mt-1 flex flex-wrap gap-2 w-full">
                <div class="rounded-md px-2 py-1 text-xs font-semibold bg-sky-600">Javascript
                </div>
                <div class="rounded-md px-2 py-1 text-xs font-semibold bg-sky-600">C#
                </div>
            </div>
            Frameworks
            <div class="mb-1 mt-1 flex flex-wrap gap-2 w-full">
                <div class="rounded-md px-2 py-1 text-xs font-semibold bg-sky-600">Angular
                </div>
                <div class="rounded-md px-2 py-1 text-xs font-semibold bg-sky-600">Web Forms
                </div>
                <div class="rounded-md px-2 py-1 text-xs font-semibold bg-sky-600">Windows Forms
                </div>
            </div>
            Projetos
            <div class="mb-1 mt-1 flex flex-wrap gap-2 w-full">
                <div class="rounded-md px-2 py-1 text-xs font-semibold bg-sky-600">MVVM
                </div>
                <div class="rounded-md px-2 py-1 text-xs font-semibold bg-sky-600">MVC
                </div>
            </div>
            Enperiência
            <div class="mb-1 mt-1 flex flex-wrap gap-2 w-full">
                <div class="rounded-md px-2 py-1 text-xs font-semibold bg-sky-600">External Call
                </div>
                <div class="rounded-md px-2 py-1 text-xs font-semibold bg-sky-600">Uploading
                </div>
                <div class="rounded-md px-2 py-1 text-xs font-semibold bg-sky-600">NgRX
                </div>
                <div class="rounded-md px-2 py-1 text-xs font-semibold bg-sky-600">Layouts
                </div>
                <div class="rounded-md px-2 py-1 text-xs font-semibold bg-sky-600">Template
                </div>
                <div class="rounded-md px-2 py-1 text-xs font-semibold bg-sky-600">Design
                </div>
            </div>
            <div class="mb-1 mt-1 flex flex-wrap gap-2 w-full">
                <div class="rounded-md px-2 py-1 text-xs font-semibold bg-sky-600">UX
                </div>
                <div class="rounded-md px-2 py-1 text-xs font-semibold bg-sky-600">UI
                </div>
                <div class="rounded-md px-2 py-1 text-xs font-semibold bg-sky-600">Observables
                </div>
                <div class="rounded-md px-2 py-1 text-xs font-semibold bg-sky-600">RxJS
                </div>
                <div class="rounded-md px-2 py-1 text-xs font-semibold bg-sky-600">Components
                </div>
            </div>
            <p class="text-xs text-neutral-500 dark:text-neutral-300">Multiplos projetos, componentização compartilhada, orientação a serviços ou estado conforme à demanda, sempre seguindo as boas práticas</p>
        </div>
        <div class="flex flex-col p-6 w-full">
            <h5 class="mb-2 text-xl font-medium text-neutral-800 dark:text-neutral-50">
                Back-end
            </h5>
            Linguagens
            <div class="mb-1 mt-1 flex flex-wrap gap-2 w-full">
                <div class="rounded-md px-2 py-1 text-xs font-semibold bg-sky-600">C#
                </div>
                <div class="rounded-md px-2 py-1 text-xs font-semibold bg-sky-600">SQL
                </div>
            </div>
            Frameworks
            <div class="mb-1 mt-1 flex flex-wrap gap-2 w-full">
                <div class="rounded-md px-2 py-1 text-xs font-semibold bg-sky-600">.NET
                </div>
            </div>
            Projetos
            <div class="mb-1 mt-1 flex flex-wrap gap-2 w-full">
                <div class="rounded-md px-2 py-1 text-xs font-semibold bg-sky-600">Class Libray
                </div>
                <div class="rounded-md px-2 py-1 text-xs font-semibold bg-sky-600">ASMX SOAP
                </div>
                <div class="rounded-md px-2 py-1 text-xs font-semibold bg-sky-600">WEB API
                </div>
                <div class="rounded-md px-2 py-1 text-xs font-semibold bg-sky-600">Work Service
                </div>
                <div class="rounded-md px-2 py-1 text-xs font-semibold bg-sky-600">Console
                </div>
            </div>
            Experiência
            <div class="mb-1 mt-1 flex flex-wrap gap-2 w-full">
                <div class="rounded-md px-2 py-1 text-xs font-semibold bg-sky-600">RabbitMQ
                </div>
                <div class="rounded-md px-2 py-1 text-xs font-semibold bg-sky-600">REST API
                </div>
                <div class="rounded-md px-2 py-1 text-xs font-semibold bg-sky-600">Identity Server
                </div>
                <div class="rounded-md px-2 py-1 text-xs font-semibold bg-sky-600">JWT
                </div>
                <div class="rounded-md px-2 py-1 text-xs font-semibold bg-sky-600">Logs
                </div>
            </div>
            <div class="mb-1 mt-1 flex flex-wrap gap-2 w-full">
                <div class="rounded-md px-2 py-1 text-xs font-semibold bg-sky-600">Entity Framework Core
                </div> 
                <div class="rounded-md px-2 py-1 text-xs font-semibold bg-sky-600">JWT Token
                </div>
                <div class="rounded-md px-2 py-1 text-xs font-semibold bg-sky-600">JSON
                </div>
                <div class="rounded-md px-2 py-1 text-xs font-semibold bg-sky-600">Gateways
                </div> 
                <div class="rounded-md px-2 py-1 text-xs font-semibold bg-sky-600">Ocelot
                </div>
            </div>
            <div class="mb-1 mt-1 flex flex-wrap gap-2 w-full">
                <div class="rounded-md px-2 py-1 text-xs font-semibold bg-sky-600">Middlewares
                </div>
                <div class="rounded-md px-2 py-1 text-xs font-semibold bg-sky-600">Fluent API
                </div> 
                <div class="rounded-md px-2 py-1 text-xs font-semibold bg-sky-600">AutoMapper
                </div>
                <div class="rounded-md px-2 py-1 text-xs font-semibold bg-sky-600">IIS
                </div>   
                <div class="rounded-md px-2 py-1 text-xs font-semibold bg-sky-600">xUnit
                </div> 
            </div>
            
            <p class="text-xs text-neutral-500 dark:text-neutral-300">Arquitetura em Clean Architecture, ou MVC, com SOLID, Clean Code, e DDD quando possível, seguindo a abordagem code-first com database-first utilizando a engenharia reversa para clientes que já possuem um banco de produção</p>
        </div>
        <!-- <div class="flex flex-col p-6 w-full">
            <h5 class="mb-2 text-xl font-medium text-neutral-800 dark:text-neutral-50">
                Habilidades
            </h5>
            <div class="mb-1 mt-1 flex gap-2 w-full">
                <div class="rounded-md px-2 py-1 text-xs font-semibold bg-sky-600">Orientação a Objetos
                </div>
            </div>
            <div class="mb-1 mt-1 flex gap-2 w-full">
                <div class="rounded-md px-2 py-1 text-xs font-semibold bg-sky-600">Refatoração
                </div>
                <div class="rounded-md px-2 py-1 text-xs font-semibold bg-sky-600">Testes Unitários
                </div>
            </div>
            <div class="mb-1 mt-1 flex gap-2 w-full">
                <div class="rounded-md px-2 py-1 text-xs font-semibold bg-sky-600">Versionamento
                </div>
                <div class="rounded-md px-2 py-1 text-xs font-semibold bg-sky-600">Inglês intermediário
                </div>
            </div>
            <div class="mb-1 mt-1 flex gap-2 w-full">
                <div class="rounded-md px-2 py-1 text-xs font-semibold bg-sky-600">Empreendedorismo 
                </div>
                <div class="rounded-md px-2 py-1 text-xs font-semibold bg-sky-600">Comunicação
                </div>
            </div>
            <div class="mb-1 mt-1 flex gap-2 w-full">
                <div class="rounded-md px-2 py-1 text-xs font-semibold bg-sky-600">Revisão de código 
                </div>
            </div>
        </div> -->
    </div>

    
    

    <!-- <div class="mb-6 text-2xl font-bold"> 
            Casos de <span class="bg-gradient-to-br from-sky-500 to-cyan-400 bg-clip-text text-transparent">estudo</span> 
    </div>
    <div class="flex flex-col gap-6 mb-3 mt-3 " *ngFor="let page of projects$ | async">
        <div class="flex flex-col items-center gap-x-8 rounded-md bg-slate-800 p-3 md:flex-row">
            <div>
                <div class="mb-1 flex gap-2">
                    <div class="rounded-md px-2 py-1 text-xs font-semibold bg-sky-400 text-sky-900"
                        *ngFor="let tag of page['tags']">{{ tag }}
                    </div>
                </div>
                <div class="text-base font-semibold hover:translate-y-0.5 hover:text-cyan-400 hover:cursor-pointer hover:underline" [routerLink]="page.route">{{ page.title }}</div>
            </div>
        </div>
    </div> -->



    <!-- <div class="mb-6 text-2xl font-bold"> Artigos
    </div>
    <div class="flex flex-col gap-6 mb-3 mt-3 " *ngFor="let page of articles$ | async">
        <div class="flex flex-col items-center gap-x-8 rounded-md bg-slate-800 p-3 md:flex-row">
            <div>
                <div class="mb-1 flex gap-2">
                    <div class="rounded-md px-2 py-1 text-xs font-semibold bg-sky-400 text-sky-900"
                        *ngFor="let tag of page['tags']">{{ tag }}
                    </div>
                </div>
                <div class="text-base font-semibold hover:translate-y-0.5 hover:text-cyan-400 hover:cursor-pointer hover:underline" [routerLink]="page.route">{{ page.title }}</div>
            </div>
        </div>
    </div> -->

</div>